<h2>Show user channel</h2>

<ul>

  <li>
    <strong>User:</strong>
    <%= @user_channel.user_id %>
  </li>

  <li>
    <strong>Channel:</strong>
    <%= @user_channel.channel_id %>
  </li>

</ul>

<span><%= link "Edit", to: user_channel_path(@conn, :edit, @user_channel) %></span>
<span><%= link "Back", to: user_channel_path(@conn, :index) %></span>
