<h2>Show channel</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @channel.name %>
  </li>

</ul>

<span><%= link "Edit", to: channel_path(@conn, :edit, @channel) %></span>
<span><%= link "Back", to: channel_path(@conn, :index) %></span>
